doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="robots", content="all")
    meta(name="description", content="Diego Rocha's personal website.")
    meta(name="keywords", content="front-end, web development, css, html, javascript")
    meta(name="author", content="Diego Rocha")
    meta(name="rating", content="General")
    meta(name="date", content="2015-10-02")
    meta(name="copyright", content="Diego Rocha")
    meta(name="contact", content="qix1986@gmail.com")
    meta(name="reply-to", content="qix1986@gmail.com")
    meta(name="generator", content="Sublime Text 3")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@qix1986")
    meta(name="twitter:title", content="Diego Rocha")
    meta(name="twitter:description", content="Diego Rocha's personal website.")
    meta(name="twitter:image", content="http://diegorocha.me/assets/img/diego-rocha.jpg")
    meta(property="og:site_name", content="Diego Rocha")
    meta(property="og:title", content="Diego Rocha - Front End Developer")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://diegorocha.me")
    meta(property="og:image", content="http://diegorocha.me/assets/img/diego-rocha.jpg")
    meta(property="og:description", content="Diego Rocha's personal website.")
    meta(property="og:locale", content="pt_BR")
    title Diego Rocha - Front End Developer
    <!--[if lt IE 9]>
    script(src="assets/js/html5shiv.min.js")
    <![endif]-->
    link(rel='me', href="https://plus.google.com/+DiegoRocha1986/posts")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='assets/css/style.css')
  body

    main.main
      block content
