extends layouts/default

block content
  figure
    img(src="assets/img/diego-rocha.jpg")
    figcaption Assim eu vejo o mundo sem meus óculos!
  h1 Diego Rocha
  h2 Front End Developer
  ul.social-icons-list
    li
      a.social-icon.social-icon-fb(href="https://www.facebook.com/qix1986/", target="_blank", title="Facebook") Facebook
    li
      a.social-icon.social-icon-tw(href="https://twitter.com/qix1986/", target="_blank", title="Twitter") Twitter
    li
      a.social-icon.social-icon-li(href="https://br.linkedin.com/in/rochadiego/", target="_blank", title="LinkedIn") LinkedIn
    li
      a.social-icon.social-icon-gh(href="https://github.com/qix1986/", target="_blank", title="Github") Github
    li
      a.social-icon.social-icon-gp(href="https://plus.google.com/+DiegoRocha1986/", target="_blank", title="Google+") Google+
    li
      a.social-icon.social-icon-ig(href="https://instagram.com/qix1986/", target="_blank", title="Instagram") Instagram
    li
      a.social-icon.social-icon-sk(href="skype:qix1986?chat", title="Skype") Skype
    li
      a.social-icon.social-icon-em(href="mailto:qix1986@gmail.com", target="_blank", title="E-mail") E-mail
